/* ------------------- */
/* Custom properties   */
/* ------------------- */
:root {
    /* Colors */
    --clr-dark: 230 35% 7%;
    --clr-light: 231 77% 90%;
    --clr-white: 0 0% 100%;
    --clr-green: 122, 39%, 49%;
    --clr-red: 0, 100%, 27%;

    /* Font-sizes */
    --fs-900: 9.375rem;
    --fs-800: 6.25rem;
    --fs-700: 3.5rem;
    --fs-600: 2rem;
    --fs-500: 1.75rem;
    --fs-400: 1.125rem;
    --fs-300: 1rem;
    --fs-200: 0.875rem;

    /* Font families */
    --ff-serif: "Bellefair", serif;
    --ff-sans-cond: "Barlow Condensed", sans-serif;
    --ff-sans-normal: "Barlow", sans-serif;
}

/* ------------------- */
/* Reset               */
/* ------------------- */
/* Box sizing */
*, *::before, *::after {
    box-sizing: border-box;
}

/* Reset margins */
body, h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

/* Set up the body */
body {
    font-family: var(--ff-sans-normal);
    font-size: var(--fs-400);
    color: hsl(var(--clr-dark));
    background-color: hsl(var(--clr-white));
    line-height: 1.5;
    min-height: 100vh;
}

/* ------------------- */
/* Utility classes     */
/* ------------------- */
.flex {
    display: flex;
    gap: var(--gap, 1rem);
}

.grid {
    display: grid;
    gap: var(--gap, 1rem);
}

.container {
    padding-inline: 2em;
    margin-inline: auto;
    max-width: 95%;
}

/* Colors */
.bg-dark { background-color: hsl(var(--clr-dark)); }
.bg-accent { background-color: hsl(var(--clr-light)); }
.bg-white { background-color: hsl(var(--clr-white)); }
.bg-green { background-color: hsl(var(--clr-green)); }
.bg-red { background-color: hsl(var(--clr-red)); }

.text-dark { color: hsl(var(--clr-dark)); }
.text-accent { color: hsl(var(--clr-light)); }
.text-white { color: hsl(var(--clr-white)); }
.text-green { color: hsl(var(--clr-green)); }
.text-red { color: hsl(var(--clr-red)); }

/* Typography */
.ff-serif { font-family: var(--ff-serif); }
.ff-sans-cond { font-family: var(--ff-sans-cond); }
.ff-sans-normal { font-family: var(--ff-sans-normal); }

/* ------------------- */
/* Components          */
/* ------------------- */
.header {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    padding-top: 2rem;
}

.header li { 
    float: left;
    display: block;
    padding-right: 2rem;
}

.header a {
    text-decoration: none;
}

.header .right { float: right; }

#button, .button {
    margin: 0;
    padding: 0;
    border: none;
    padding: 15px 32px;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
    height: 3.5rem;
    background-color: hsl(var(--clr-red));
    color: hsl(var(--clr-white));
}

.products {
    padding: 2rem 0;
    justify-content: center;
    --gap: 2rem;
    flex-wrap: wrap;
}

.product {
    flex: 1 0 20%;
    min-width: 250px;
    max-width: 23%;
    height: 150px;
    border: 2px solid black;
    background-color: hsla(var(--clr-red), .2);
}

.product-info {
    text-align: center;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    justify-content: center;
    place-items: center;
    height: 5rem;
}

.inputs {
    max-width: 500px;
}

.selector {
    margin: 2rem 0;
}

.form {
    padding: 2rem 0;
}

#product_form label:not(:last-child) {
    width: 150px;
}

.errors {
    padding: 1rem;
    background-color: hsla(var(--clr-red), .7);
}

@media (max-width: 768px) {
    .header {
        display: grid;
    }

    .header h2 {
        font-size: var(--fs-600);
    }
    
    .header li:not(:last-child) {
        margin-bottom: 1rem;
    }
}